h1{
    color:red;
    background-color:green;
    border:solid black;
}
h2{
    color:yellow;
    background-color:skyblue;
    border:solid black;
}
h3{
    color:blue;
    background-color:palevioletred;
    border:solid black;
}